@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@tailwind utilities;

@theme {
  --font-family: "Roboto Flex", Arial, sans-serif;
  --components-bg-color: #998888;
  --text-color: #8a3033;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  background-color: #eadeda;
}
